
/*SM breakpoint*/
@media( min-width:576px){



}



/*MD breakpoint*/
@media(min-width:768px){

    /*HEADER*/
    .cta p {
        max-width: 50%;
    }

    h1{
        font-size: 3.5rem;
    }

    .cta.text-center.text-white {
        padding: 50px;
    }

    .navigation{
        padding: 20px 35px;
    }
    
    header{
    margin-bottom: 8rem;
}

    /*ABOUT US*/

    #img1 {
        position: relative;
        top: 30px;
        transition: 1s linear;
        max-width: 470px;
        max-height: 470px;
    }

    #img2 {
        position: absolute;
        left: 160px;
        transition: 1s linear;
        max-width: 470px;
        max-height: 470px;
    }

/*    .about-us figure:hover #img2
    {
        opacity: 0.5;
        z-index: -1;
        cursor: pointer;
    }

    .about-us figure:hover #img1{
        opacity: 1;
    }*/

    
    
/*    ACHIVEMENTS*/

.achivements-wrapper{
    padding: 100px;
}

.achivements-wrapper p{
    margin: 2rem 0;
}
}



/*LG breakpoint*/
@media(min-width:992px){

    header{
        min-height: 100vh;
        position: relative;
        margin-bottom: 4rem;
    }

    .cta.text-center.text-white {
        display: inline-block;
        margin: 50px auto;
        padding: 20px;
        background: rgb(87,0,108);
        background: linear-gradient(180deg, rgba(87,0,108,0.28333340172006305) 0%,
            rgba(97,15,117,0.20210090872286413) 15%, rgba(109,33,128,0.13487401796656162) 33%, rgba(155,99,169,0.0536415249693627) 100%); 
        box-shadow: -15px 20px 39px 0px rgba(0,0,0,0.75);
        min-height: 70vh;
        padding: 5px;
    }

}

/*XL breakpoint*/
@media(min-width:1200px){



}